<section class="section-comment" id="comments">
  <ul class="comment">
    <li class="imagen-1">
      <img class="img-reviews"
        src="/src/images/testimonials11.png"
        alt="testimonial"
        width="85"
        height="85"
      />
    </li>


  
    <li class="background">
      <svg class="svg-comment" width="54" height="40">
        <use href="/src/images/icons.svg#icon-coments-marks"></use>
      </svg>
      <p class="paragraph">
        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
        sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis
        in nibh vel risus.
      </p>
    </li>
    

    <li>
      <div class="container-circle">
        <div class="circle"></div>
        <div class="circle-one"></div>
        <div class="circle-two"></div>
      </div>
    </li>

    <li>
      <h1 class="name-testimonials">Emily, Los Angeles</h1>
    </li>
    

    <li class="transition">
      <div class="container">
        <svg class="svg-comment-home" width="30" height="25">
          <use href="/src/images/icons.svg#icon-coments-house"></use>
        </svg>
      <div class="house"></div>
      <div class="house1"></div>
    </div>
    </li>
  </ul>
</section>
