<section class="gallery-section">
  <div class="container-pictures">
    <div class="collage">
      <div class="img-first">
        <img
          class="img-group img-collage"
          src="./images/home-pic55.png"
          alt="collage"
          width="100"
        />
      </div>
      <div class="img-second">
        <img
          class="img-group img-collage"
          src="images/home-pic54.png"
          alt="collage"
          width="100"
        />
        <img
          class="img-group img-collage"
          src="images/home-pic56.png"
          alt="collage"
          width="100"
        />
      </div>
      <div class="img-third">
        <img
          class="img-collage img-big"
          src="images/home-pic51.png"
          alt="collage"
          width="300"
        />
        <img
          class="img-group img-collage"
          src="images/home-pic57.png"
          alt="collage"
          width="100"
        />
      </div>
      <div class="img-fourt">
        <img
          class="img-group img-collage"
          src="images/home-pic59.png"
          alt="collage"
          width="100"
        />
        <img
          class="img-group img-collage"
          src="images/home-pic58.png"
          alt="collage"
          width="100"
        />
      </div>
      <div class="img-five">
        <img
          class="img-group img-collage"
          src="images/home-pic510.png"
          alt="collage"
          width="100"
        />
        <img
          class="img-group img-collage"
          src="images/home-pic512.png"
          alt="colla"
          width="100"
        />
      </div>
      <div class="img-six">
        <img
          class="img-group img-collage"
          src="images/home-pic511.png"
          alt="collage"
          width="100"
        />
      </div>
    </div>
  </div>
</section>
