<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section>
        <div class="container">
            <div class="collage" > 
                <div class="img-collage">
                    <img  src="./images/home-pic55.png" alt="andres cubo
                        diseñador de productos" width="400" />
                </div>
                <div class="img-collage">
                    <img  src="images/home-pic54.png"  alt="andres cubo
                        diseñador de productos" width="400" />
                </div>
                <div class="img-collage" >
                    <img  src="images/home-pic56.png"  alt="andres cubo
                        diseñador de productos" width="400" />
                </div>
                <div class="img-collage">
                    <img  src="images/home-pic51.png"  alt="andres cubo
                        diseñador de productos" width="400" />
                </div>
                <div class="img-collage">
                    <img  src="images/home-pic57.png"  alt="andres cubo
                        diseñador de productos" width="400" />
                </div>
                <div class="img-collage" >
                    <img  src="images/home-pic59.png"  alt="andres cubo
                        diseñador de productos" width="400" />
                </div>
                <div class="img-collage">
                    <img  src="images/home-pic58.png"  alt="andres cubo
                        diseñador de productos" width="400" />
                </div>
                <div class="img-collage">
                    <img  src="images/home-pic510.png"  alt="andres cubo
                        diseñador de productos" width="400" />
                </div>
                <div class="img-collage">
                    <img  src="images/home-pic512.png"  alt="andres cubo
                        diseñador de productos" width="400" />
                </div>
                <div class="img-collage">
                    <img  src="images/home-pic511.png"  alt="andres cubo
                        diseñador de productos" width="400" />
                </div>
            </div >
        </div>
    </section>
</body>
</html>