<section class="product" id="products">
  <div class="container container__products">
    <h3 class="product__sub-tittle">100% natural</h3>
    <h2 class="product__tittle">products</h2>
    <ul class="product__wrapper">
      <li class="products__cards">
        <img
          class="product__image"
          src="/src/images/home-pic1.png"
          src="home-pic1.png"
          alt="Strawberry ice cream"
        />
        <div class="product__card ice-cream-card">
          <h3 class="product__card-title">ICE CREAM</h3>
          <div class="circles">
            <span class="circle"> </span>
          </div>
          <p class="product__card-description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et
          </p>
          <svg class="product__card-button">
            <use x="20%" y="20%" width="30px" height="30px" href="/src/images/icons.svg#icon-arrow-right"></use>
          </svg>
        </div>
      </li>

      <li class="products__cards">
        <img
          class="product__image"
          src="/src/images/home-pic2.png"
          alt="Cold Ice"
        />
        <div class="product__card ice-tea">
          <h3 class="product__card-title">ICE TEA</h3>
          <div class="circles">
            <span class="circle"> </span>
          </div>
          <p class="product__card-description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et
          </p>
          <svg class="product__card-button">
            <use x="20%" y="20%" width="30px" height="30px" href="/src/images/icons.svg#icon-arrow-right"></use>
          </svg>
        </div>
      </li>

      <li class="products__cards">
        <img
          class="product__image"
          src="/src/images/home-pic3.png"
          alt="Chocolate Milkshake"
        />
        <div class="product__card milkshake">
          <h3 class="product__card-title">MILKSHAKE</h3>
          <div class="circles">
            <span class="circle"> </span>
          </div>
          <p class="product__card-description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et
          </p>
          <svg class="product__card-button">
            <use x="20%" y="20%" width="30px" height="30px" href="/src/images/icons.svg#icon-arrow-right"></use>
          </svg>
        </div>
      </li>
    </ul>
  </div>
</section>
