//variable
@import '../utils/variables';
@import '../utils/mixins';
@import '../base/global';

.how__its__made {
  background-position: center;
  background-size: cover;
  position: relative;
  width: 100%;
}
.how__its__made::after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $background-color-tertiary;
  background-image: url(/src/images/sectionbg11.png);
  background-position: 0% 90%;
  background-repeat: repeat-y;
  background-size: contain;
  animation: moveBackground 12s cubic-bezier(0.25, 0.75, 0.5, 1.25) infinite,
    trembleBackground 50s cubic-bezier(0.4, 0, 0.2, 1) infinite alternate;
}
.imagen__made {
  cursor: none;
  width: 280px;
  height: 279px;
  @include tablet {
    width: 336px;
    height: 335px;
  }
  @include desktop {
    width: 501px;
    height: 501px;
  }
  &:hover,
  &:focus {
    animation: jug 5s cubic-bezier(0.25, 0.75, 0.5, 1.25) infinite;
  }
}
.container-center {
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
  max-width: 767px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  @include tablet {
    max-width: 1199px;
  }
  @include desktop {
    max-width: 1300px;
  }
  & .footer__container {
    margin-bottom: 43px;

    @include tablet {
      margin-bottom: 91px;
      display: flex;
    }
    @include desktop {
      margin-bottom: 97px;
    }
  }
}
.made_subtitle {
  font-family: $text-titan-one;
  font-size: 18px;
  line-height: 1.16em;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 15px;
  padding-top: 60px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  @include tablet {
    &:hover {
      animation-name: subtitle;
      animation-duration: 5s;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      animation-play-state: running;
      cursor: none;
    }
  }
  @include desktop {
    &:hover {
      animation-name: subtitle;
      animation-duration: 5s;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      animation-play-state: running;
      cursor: none;
    }
  }
}
.made__title {
  font-family: $text-titan-one;
  font-size: 34px;
  line-height: 1.14em;
  letter-spacing: 0.04em;
  text-align: right;
  text-transform: uppercase;
  text-align: center;
  color: $background-color-septenary;
  min-width: 200px;
  padding: 5px;
  @include tablet {
    min-width: none;
    &:hover {
      animation-name: title;
      animation-duration: 5s;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
  @include desktop {
    &:hover {
      animation-name: title;
      animation-duration: 5s;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}
@keyframes title {
  0% {
    letter-spacing: 30px;
    font-size: 54px;
    z-index: 3;
  }
  100% {
    letter-spacing: 0.5px;
    font-size: 35px;
  }
}
@keyframes reset {
  0% {
    transform: translateY(0px);
  }
}
.container__description {
  margin-top: 32px;
  @include tablet {
    display: flex;
  }
  @include desktop {
    display: flex;
  }
}
.description__imagen__made {
  margin: auto;
  padding: 0 20px;
  @include tablet {
    margin-right: 32px;
  }
  @include desktop {
    margin-right: 99px;
  }
}
.description-more {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.62em;
  text-align: left;
  color: $secondary-color;
  margin-bottom: 20px;
  min-width: 220px;
  &:hover,
  &:focus {
    transform: scale(1.2);
    max-width: min-content;
    transition-property: scale, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  @include tablet {
    font-size: 14px;
    line-height: calc(25px / 14px);
  }
  @include desktop {
    font-size: 16px;
    line-height: calc(28px / 16px);
  }
}
.description__main__content-more {
  width: 280px;
  height: auto;
}
.description-less {
  color: $quinary-color;
  min-width: 220px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.62em;
  text-align: left;
  &:hover,
  &:focus {
    transform: scale(1.2);
    max-width: min-content;
    transition-property: scale, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  &:first-child {
    margin-bottom: 15px;
  }
  &:last-child {
    padding-bottom: 15px;
  }
  @include tablet {
    font-size: 14px;
    line-height: calc(25px / 14px);
  }
  @include desktop {
    font-size: 14px;
    line-height: calc(27px / 14px);
  }
}
.button-less {
  font-weight: 700;
  font-size: 14px;
  line-height: 0.77em;
  border-radius: 22px;
  background-color: $background-color-secondary;
  color: $tertiary-color;
  padding: auto;
  margin-right: 13.62px;
  width: 176px;
  height: 44px;
  border: none;
  margin-bottom: 40px;
  cursor: pointer;
  &:hover,
  &:focus {
    transform: perspective(83px) rotateY(-7deg);
    box-shadow: $box-shadow-tertiary;
    transition-property: box-shadow, background-color, color;
    transition-duration: 5s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  &:hover .icon__less,
  &:focus .icon__less {
    transform: perspective(83px) rotateY(-7deg);
    box-shadow: $box-shadow-tertiary;
    transition-property: box-shadow, background-color, color;
    transition-duration: 5s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.icon__less {
  margin-left: 28.62px;
}
#icon__less {
  stroke: $background-color-septenary;
}
.container-less {
  display: block;
}
// arrow
.scroll-to-top {
  position: fixed;
  display: none;
  justify-items: center;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  background-color: $background-color-rgba-secondary;
  box-shadow: $box-shadow-secondary;
  fill: $primary-color;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  z-index: 9999;
}
.scroll-to-top:hover {
  background-color: $background-color-septenary;
  cursor: pointer;
  animation: header 3s cubic-bezier(0.25, 0.75, 0.5, 1.25) infinite;
}
.scroll-to-top:not(:hover) {
  cursor: pointer;
  animation: header 8s cubic-bezier(0.25, 0.75, 0.5, 1.25) infinite;
}
