.background{
    width: 280px;
    height: 368px;
    left: 20px;
    top: 4439px;
    background: $background-color-quaternary;
    margin-left: 180px;
    margin-top: 32px;
    @media (min-width: 1280px){
    width: 968px;
    height: 148px;
    }
    }
    .svg-comment{
        width: 54px;
    height: 40px;
    margin-left: 7px;
    margin-right: 20px;
    @media (min-width: 1280px){
    margin-left: 72px;
    margin-top: 10px;
    }
    }
    .paragraph{
    font-family: $text-dm-sans;
    font-style: normal;
    font-weight: 500;
    text-align: center;
    color: $secondary-color;
    line-height: 255%;
    margin-left: 35px;
    margin-right: 35px;
    
    @media (min-width: 1280px){
        text-align: center;
        justify-content: center;
        margin-left: 110px;
        margin-right: 110px;
        margin-top: -15px;
    }
    }
    .img-reviews{
        width: 85px;
    height: 85px;
    margin-left: 280px;
    border-radius: 44px;
    @media (min-width: 1280px){
        margin-left: 600px
    }
    }
    .comment{
        list-style: none;
    }
    .name-testimonials{
    font-family: $text-dm-sans;
    font-style: normal;
    font-weight: 500;
    text-align: center;
    color: $secondary-color;
    margin-top: 20px;
    
    }
    .container-circle{
    display: flex;
    margin-top: 24px;
    align-items: center;
    justify-content: center;
    @media (min-width: 1280px){
        margin-left: 0px;
    }
    }
    .circle{
    background-color: $background-color-septenary;
    width: 5px;
    height: 5px;
    border-radius: 50%;
   
    }
    .circle-one{
     background-color: $background-color-septenary;
     width: 5px;
     height: 5px;
     border-radius: 50%;
     margin-left: 10px;
    }
        .circle-two{
    background-color: $background-color-septenary;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    margin-left: 10px;
    }
    .svg-comment-home{
     width: 22px;
    height: 22px;
    margin-left: 274px;
    background-color: $background-color-septenary;
    color: $background-color-septenary;
    margin-top: 20px;
    border-radius: 50%;
    @media (min-width: 1280px){
        margin-left: 600px;
    }
    }
    .house{
     background-color: #D9D9D9;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    margin-left: 20px;
    margin-top: -30px;
    }
    .transition{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    