.background{
    width: 280px;
    height: 368px;
    left: 20px;
    top: 4439px;
    background: $background-color-quaternary;
    margin-left: 280px;
    margin-top: 32px;
    @include desktop {
    width: 1068px;
    height: 148px;
    margin-left: 160px;
    }
    @include tablet{
   margin-left: 290px;
    }
    }
    .svg-comment{
        width: 54px;
    height: 40px;
    margin-left: 72px;
    margin-right: 20px;
    @include desktop{
    margin-left: 72px;
    margin-top: 10px;
    }
    }
    .paragraph{
    font-family: $text-dm-sans;
    font-style: normal;
    font-weight: 500;
    text-align: center;
    color: $secondary-color;
    line-height: 255%;
    margin-left: 35px;
    margin-right: 35px;
    
    @include desktop {
        text-align: center;
        justify-content: center;
        margin-left: 110px;
        margin-right: 110px;
        margin-top: -15px;
    }
    }
    .img-reviews{
        width: 85px;
    height: 85px;
    margin-left: 380px;
    border-radius: 44px;
    @include desktop{
        margin-left: 600px
    }
    @include tablet{
        margin-right: 20px;
    }
    }
    .comment{
        list-style: none;
    }
    .name-testimonials{
    font-family: $text-dm-sans;
    font-style: normal;
    font-weight: 500;
    color: $secondary-color;
    margin-top: 20px;
    margin-left: 350px;
    @include tablet{
        margin-right: 10px;
    }
    @include desktop{
        margin-left: 570px;
    }
    }
    .container-circle{
    display: flex;
    margin-top: 24px;
    align-items: center;
    justify-content: center;
    margin-left: 80px;
    @include desktop{
        margin-right: 150px;
    }
    }
    .circle{
    background-color: $background-color-septenary;
    width: 5px;
    height: 5px;
    border-radius: 50%;
   
    }
    .circle-one{
     background-color: $background-color-septenary;
     width: 5px;
     height: 5px;
     border-radius: 50%;
     margin-left: 10px;
    }
        .circle-two{
    background-color: $background-color-septenary;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    margin-left: 10px;
    }
    .svg-comment-home{
     width: 22px;
    height: 22px;
    margin-left: 364px;
    fill: $tertiary-color;
    margin-top: 20px;
    border-radius: 50%;
    @include desktop{
        margin-left: 580px;
    }
    @include tablet{
        margin-left: 360px;
    }
    }
    .house{
     background-color: #D9D9D9;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    margin-top: -25px;
    margin-left: 400px;
    }
    .house1{
        background-color: #D9D9D9;
       border-radius: 50%;
       width: 22px;
       height: 22px;
       margin-top: -25px;
       margin-left: 20px;
       }
    .transition{
        display: flex;
        @include desktop{
            margin-left: 220px;
        }
    }

